﻿<link href="~/css/chart/site.css" rel="stylesheet" />
<div>
    <label>
        Period
    </label>
    <div class="valuePeriod">
        30 December 2018 - 06 December 2019
    </div>
</div>
<div>
    <label>
        Job Level Category
    </label>
    <div class="valuePeriod">
        All
    </div>
</div>

<table id="tblData" border="1">
    <thead id="dynamicHeaderTable">

    </thead>
    <tbody id="dynamicDataTable">
    </tbody>
</table>
<div class="chart-wrapper">
    <label>Institution Name : </label>
    <select id="ddlInstitutionName" onchange="onChangeDdlChart1()">
        <option>Choose</option>
    </select>
    <div class="chart-wrapper">
        <canvas id="myChart"></canvas>
    </div>
</div>
