﻿@model Web.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" id="txtUsername" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="txtPassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" id="btnLogin" class="btn btn-primary" />
                <button type="button" class="btn btn-primary" id="btnAutoLogin">Autologin</button>
                <div id="apiMsg">

                </div>
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        testApi();
        function testApi() {
            $.get("http://localhost:65409/api/values", function (data) {
                console.log('return' ,data);
                $('#apiMsg').text(data);              
            });
        }
        $('#btnAutoLogin').click(function () {
            $('#txtUsername').val('admin');
            $('#txtPassword').val('Pass123');
            $('#btnLogin').click();
        });
    </script>
}
